


.main {
  position: fixed;
  
  margin-left: 91px;
  background-color: #5b88f6;
  border: 2px solid black;
  width: 900px;
  height: 1200px;
  background-image:url(' http://www.planwallpaper.com/static/images/Abstract-Cool-Background.jpg');
  padding-left: 100px;
  padding-right: 100px;
  background-size: 1200px 900px;
  text-align: center;
  
}

.main p {
  color: white;
}

.main h1 {
  color:white;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 90px;
  background-color: #10C8CD;
  border: 2px solid black;
  margin-left: 0px;
}

img {
  width: 300px;
  height:300px;
}

button {
  margin-top:500px;
}

.supersecret {
  margin-left: 590px;
  width: 200px;
  height: 400px;
}

.dropdown {
   position:absolute;
   display:none;
   height:500px;
   width:500px;
   z-index:123123;
   margin-top:500px;
}

img:hover .dropdown {
    display: block;
}


canvas {
  height: 400px;
  
}
