

div {
  margin: 0 auto;
  background-color: blue;
  border: 2px solid black;
  width: 600px;
  height:700px;
}

.sidebar {
  float: left;
  height: 100%;
  width: 400 px;
  background-color: green;
  clear: both;
}
